/* Flexbox layout */

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}

/* Custom styling */

body {
	background: #f4f7fb;
}

header {
	background: #222;
}

header a {
	color: white;
	font-weight: bold;
}

header a:hover {
	color: #F80002;
}

.logo {
	color: gold;
}

article {
	background: white;
	line-height: 1.6;
}

article img {
	border-radius: 10px;
	border: 3px solid #ddd;
	max-width: 100%;
}

article ul {
	margin-left: 20px;
	margin-bottom: 20px;
}

article li {
	margin-bottom: 10px;
}

aside {
	background: #eef2f7;
}

aside h2 {
	color: #222;
}

footer {
	background: #222;
	color: white;
	text-align: center;
}

footer a {
	color: #ffcc00;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}